@import "tailwindcss";

.slick-next::before,
.slick-prev::before {
  content: "" !important;
}

@theme {
  --color-primary: #e8505b;
  --color-secondary: #263238;
}

@layer base {
  body {
    background-color: #f8f9fa;
  }
  p {
    @apply text-lg text-gray-500;
  }
}

@layer components {
  .custom-container {
    @apply max-w-[1200px] mx-auto w-[90%];
  }
  .btn-primary {
    @apply bg-primary  py-4 px-8 rounded-sm text-xl cursor-pointer text-white;
  }
}
